<div id="right-sidebar"> <!-- BEGIN RIGHT-SIDEBAR -->

	{% comment %}<h2>Presented By</h2>
	
		<div class="sponsor-logo last">
			<a href="https://www.capitalone.com" target="_blank"><img src="{{ 'capital-one-2019.png' | file_url }}" width="182" height="65" alt="Capital One" /></a>
		</div>{% endcomment %}

	<h2>In Association With</h2>
  
        <div class="sponsor-logo">
			<a href="https://www.flychicago.com/pages/default.aspx" target="_blank"><img src="{{ 'sponsor_2018_cda-ohare_0.png.png' | file_url }}" width="182" height="50" alt="Chicago Department of Aviation" /></a>
		</div>

		<div class="sponsor-logo last">
			<a href="https://www.e-magellan.com" target="_blank"><img src="{{ 'magellan-2019.png' | file_url }}" width="182" height="125" alt="Magellan" /></a>
		</div>
  
	<h2>Premier Sponsors</h2>

        <div class="sponsor-logo">
			<a href="https://www.all-clad.com" target="_blank"><img src="{{ 'sponsor_2018_all-clad_0.png' | file_url }}" width="182" height="115" alt="All-Clad" /></a>
		</div>

        <div class="sponsor-logo">
			<a href="https://www.aa.com" target="_blank"><img src="{{ 'sponsor_2017_american-airlines_0.png' | file_url }}" width="182" height="70" alt="American Airlines" /></a>
		</div>

		<div class="sponsor-logo">
			<a href="https://www.hmshost.com" target="_blank"><img src="{{ 'sponsor_2017_hms-host_0.png' | file_url }}" width="182" height="115" alt="HMS Host"/></a>
		</div>

		<div class="sponsor-logo">
			<a href="https://www.lavazza.us/en_US.html" target="_blank"><img src="{{ 'sponsor_2018_lavazza_1.png' | file_url }}" width="182" height="70" alt="Lavazza &mdash; Torino, Italia 1895" /></a>
		</div>

        <div class="sponsor-logo">
			<a href="https://www.sanpellegrino.com/us/en/" target="_blank"><img src="{{ 'sponsor_2017_s-pellegrino_0.png' | file_url }}" width="182" height="65" alt="S. Pellegrino Sparkling Natural Mineral Water" /></a>
		</div>
		
	<h2>Proud Hosts</h2>
  
        <div class="sponsor-logo">
			<a href="https://www.choosechicago.com" target="_blank"><img src="{{ 'sponsor_2018_choose-chicago_0.png' | file_url }}" width="182" height="70" alt="Choose Chicago"/></a>
		</div> 

       <div class="sponsor-logo">
			<a href="https://www.illinoisrestaurants.org" target="_blank"><img src="{{ 'sponsor_2017_ira_0.png' | file_url }}" width="182" height="61" alt="Illinois Restaurant Association"/></a>
		</div>

</div> <!-- END RIGHT-SIDEBAR -->


{% comment %}
		<div class="sponsor-logo">
			<a href="https://www.enjoyillinois.com" target="_blank"><img src="{{ 'sponsor_2017_iot-ufa_0.png' | file_url }}" width="182" height="85" alt="Enjoy Illinois"/></a>
		</div>
  
        <div class="sponsor-logo last">
			<a href="http://www.marianos.com" target="_blank"><img src="{{ 'sponsor_2017_marianos_0.png' | file_url }}" width="182" height="70" alt="Mariano&rsquo;s" /></a>
		</div>

		<div class="sponsor-logo">
			<a href="http://www.truemfg.com" target="_blank"><img src="{{ 'sponsor_2017_true-refrigeration_0.png' | file_url }}" width="182" height="50" alt="True Refrigeration" /></a>
		</div>

		<div class="sponsor-logo">
			<a href="https://www.tabasco.com" target="_blank"><img src="{{ 'sponsor_2018_tabasco_1.png' | file_url }}" width="182" height="115" alt="Tabasco&reg; Brand &mdash; The hot, legendary pepper sauce!" /></a>
		</div>

		<div class="sponsor-logo last">
			<a href="https://www.woodfordreserve.com" target="_blank"><img src="{{ 'sponsor_2018_woodford-reserve_0.png' | file_url }}" width="182" height="115" alt="Woodford Reserve" /></a>
		</div>

		<div class="sponsor-logo">
			<a href="https://www.enjoyillinois.com" target="_blank"><img src="{{ 'sponsor_2017_iot-ufa_0.png' | file_url }}" width="182" height="85" alt="Enjoy Illinois"/></a>
		</div>
{% endcomment %}


