<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- include 'forward-to-home' -->
  
<title>{{ shop.name }} &mdash; {{ page_title }}</title>

{% include 'jbf-head-icons' %}

{{ 'http://jbfawards.com/2012/new_june_light_bold/New_June_no_ligatures.css' | stylesheet_tag }}
{{ 'http://jbfawards.com/2012/new_june_regular/New_June_no_ligatures2.css' | stylesheet_tag }}

{{ 'store.scss.css' | asset_url | stylesheet_tag }}
{{ 'webfonts.css' | asset_url | stylesheet_tag }}

{{ 'mootools.js'        | global_asset_url  | script_tag }}
{{ 'slimbox.js'         | global_asset_url  | script_tag }}
{{ 'option_selection.js' | shopify_asset_url | script_tag }}
{{ 'urlObj.js' | asset_url | script_tag }}

{{ 'https://platform.twitter.com/widgets.js' | script_tag }}
{{ 'https://platform.linkedin.com/in.js' | script_tag }}

{{ content_for_header }}
</head>

<body id="page-{{ template }}">

<div id="container"> <!-- BEGIN CONTAINER -->

  {% include 'jbf-header' %}

<div id="main"> <!-- BEGIN MAIN -->  
  
<div id="content-column"> <!-- BEGIN CONTENT-COLUMN -->

    {% include 'jbf-shopping-cart' %}
  
  
	{{ content_for_layout }}
  
  
	{% include 'jbf-visa-signature-line' %}


</div> <!--  END CONTENT-COLUMN -->
  
  {% include 'jbf-footer' %}

  {% include 'jbf-sponsor-sidebar' %}


</div> <!-- END MAIN --> 
</div> <!-- END CONTAINER -->
	
</body>
</html>